body {
    font-family: "Microsoft Yahei";
    font-size: 14px;
    color: #333;
    padding: 0;
    margin: 0;
    background-color: darkslateblue;
}

a {
    color: #333;
}

a:hover {
    color: #F39800;
}

.header {
    width: 100%;
    margin: 0px auto;
    position: relative;
}

.header .head {
    width: 1170px;
    height: 90px;
    margin: 0px auto;
    text-align: left;
    position: relative;
}

.header .head .head_r {
    width: 1170px;
    float: left;
    position: relative;
}

.head .nav_m {
    width: 735px;
    float: left;
    position: relative;
}

.head .nav {
    width: 100%;
    float: left;
    text-align: left;
}

.head .nav li {
    display: inline-block;
    zoom: 1;
    height: 92px;
    vertical-align: top;
}

.head .nav li a {
    font-size: 12px;
    color: #000;
    display: inline-block;
    zoom: 1;
    height: 17px;
    line-height: 17px;
    padding: 0px 15px;
    border-right: 1px solid #444;
    vertical-align: top;
    margin-top: 37px;
}

.head .nav li.now a,
.head .nav li a:hover {
    color: #F9A519;
}

.top-content {
    width: 100%;
}

.box {
    width: 1200px;
    padding: 0px;
    height: 460px;
    overflow: hidden;
    margin: 50px auto 0;
    background-color: darkslateblue;
}

.item-content {
    width: 1200px;
    position: relative;
    left: 50%;
    margin-left: -597px;
}

.item-content ul li {
    float: left;
    display: inline;
    height: 445px;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: width 0.2s ease;
}

.item-content ul li.li1 {
    background: #4a9ebd url(../images/jz01.png) no-repeat center
}

.item-content ul li.li2 {
    background: #4abdb9 url(../images/jz02.png) no-repeat center
}

.item-content ul li.li3 {
    background: #90d73d url(../images/jz03.png) no-repeat center
}

.item-content ul li.li4 {
    background: #e3d02c url(../images/jz04.png) no-repeat center
}

.item-content ul li.li5 {
    background: #e37e2c url(../images/jz05.png) no-repeat center
}

.item-content .fold .txt {
    font-size: 14px;
    display: block;
    width: 100%;
    font-weight: normal;
    line-height: 25px;
    height: 445px;
    background: #000;
    background-color: rgba(0, 0, 0, 0.5);
}

.item-content .fold .txt a {
    color: #fff;
    position: absolute;
    top: 415px;
    padding-left: 5px;
}

.item-content .unfold {
    width: 630px;
    height: 445px;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
}

.item-content .unfold dt img {
    width: 630px;
    height: 445px;
}

.item-content .unfold dd {
    line-height: 35px;
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 630px;
}

.item-content .unfold dd a {
    font-size: 14px;
    display: inline-block;
    color: #fff;
    margin-left: 20px;
}

.container {
    width: 1200px;
    margin: 0px auto;
}

.list {
    width: 100%;
    padding: 20px 0 40px;
}


.list-content {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list-content li {
    width: 380px;
    float: left;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.list-content li .tu,
.list-content li .tu img {
    width: 380px;
    height: 350px;
    vertical-align: top;
}

.list-content li .wen {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 99;
    background: url(../images/bg_a.png) repeat;
    color: #FFF;
    transition: 0.7s;
    -moz-transition: 0.7s;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    top: 290px;
}

.list-content li:hover .wen {
    top: 0;
}

.list-content li .wen .title {
    width: 340px;
    height: 60px;
    line-height: 60px;
    margin: 0px auto;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
}

.list-content li .wen .des {
    width: 340px;
    margin: 0px auto;
    height: 180px;
    padding: 25px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.list-content li .wen .des p {
    font-size: 16px;
    line-height: 180%;
}

.top-box {
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-box .main-title {
    font-size: 90px;
    font-weight: 900;
    color: slategrey;
}

.top-box .sub-title {
    width: 50%;
    font-size: 20px;
}

.category-box {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #444;
}

.category-box .input-box {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.input-box .content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.checkBox {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px #000;
}

.checkBox div {
    width: 60px;
    height: 60px;
    background-color: #0026ff;
    top: -52px;
    left: -52px;
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 100;
}

.checkBox input[type=checkbox]:checked+div {
    left: -10px;
    top: -10px;
}

.checkBox input[type=checkbox] {
    position: absolute;
    left: 50px;
    visibility: hidden;
}

.transition {
    transition: 300ms ease;
}

.input-box .content .label {
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
}

.category-box .btn-box {
    display: flex;
}

.btn-box .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    margin-left: 20px;
}

.btn-box .search-btn {
    background-color: #007ACC;
    outline: 3px #007ACC solid;
}

.btn-box .clear-btn {
    background-color: orange;
    outline: 3px orange solid;
}

.btn .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
}

.btn:hover {
    background-color: transparent;
}

.search-btn:hover .text {
    color: #007ACC;
}

.clear-btn:hover .text {
    color: orange;
}

.content {
    width: 100%;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fund-item {
    width: 350px;
    height: 250px;
    margin-bottom: 35px;
    cursor: pointer;
}

.fund-item img {
    width: 100%;
    height: 200px;
    box-shadow: 0 -4px 6px 2px #2196F3;
    border-radius: 8px 8px 0 0;
}

.fund-item .text {
    width: 100%;
    height: 50px;
    padding: 15px;
    box-sizing: border-box;
    text-align: left;
    overflow: hidden;
    box-shadow: 0 0 6px 2px #2196F3;
    border-radius: 0 0 8px 8px;
}

.info-container {
    width: 1200px;
    margin: 0 auto;
    height: 500px;
    background-color: #ddd;
    border-radius: 30px;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
}

.info-container .top {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top .top-left {
    width: 500px;
    height: 350px;
    flex-shrink: 0;
    overflow: hidden;
    background-color: #007ACC;
}

.top .top-left img {
    width: 500px;
    height: 350px;
}

.top .top-right {
    width: 700px;
    height: 350px;
    flex-shrink: 0;
    padding: 15px 15px 15px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.bottom {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom .btn {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background-color: #e37e2c;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}